h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 1em 0;
}

strong {
  color: #003cff;
}
button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
}
button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul {
  margin-left: 20px;
}

a {
  color: #0077ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
